@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  
  font-family: 'Press Start 2P', system-ui;
  margin: 0;
    background-color: #073b4c;
    display: flex;
    align-items: center;
    justify-content: center;

}

.ingame-button {
  font-family: 'Press Start 2P', system-ui;
  font-size: 30px;
  padding: 10px 20px;
  color: black;
}

.game-title {
  font-family: 'Press Start 2P', system-ui;
  font-size: 50px;
}

.ingame-text {
  font-family: 'Press Start 2P', system-ui;
}

.gameover-button {
  font-size: 50px;
  padding: 10px 20px;
  color: black;
}

.main-button {
  font-family: 'Press Start 2P', system-ui;
  font-size: 35px;
  padding: 10px 20px;
  color: black;
}

.main-background {
  background-image: url('./assets/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.game-header {
  background-color: #118AB2;
}

.game-footer {
  background-color: #06D6A0;
}
